body {
    font-family: "Helvetic Neue", Helvetica, Arial;
}

h1, h3 {
    text-align: center;
}

li {
    list-style: none;
    color: grey;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li.status-maybe-error a {
    color: red;
}


li.status-maybe-error.status-200 a {
    color: green;
}
